.row {
  height: 100%;
  .s12 {
    p {
      margin-bottom: 30px;
    }
    form {
      width: 300px;
      margin: auto;
      label{
        color:white;
      }
      input{
        color:white;
        font-family: Montserrat;
      }
      button {
        margin: auto;
        width:100%;
      }
    }
    button {
      border: 1px solid white;
      border-radius: 5pt;
      background-color: rgba(216, 216, 216, 0.16);
      color: white;
      font-family: Montserrat;
      padding: 15px 20px 15px 20px;
      margin-left: 10px;
      margin-right: 10px;
      width: 130px;
      cursor: pointer;
    }
  }
}