html,
body {
  height: 100%;
  font-family: 'Montserrat';
  color: #363434;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

div {
  margin: 0px;
  padding: 0px;
  @import './all';
}

.home {
  @import './home';
  padding-bottom: 40px;
}

.apply {
  @import './apply';
  height: 100vh;
  width: 100%;
  color: white;
  @media only screen and (min-width: 601px) {
    background-image: url('../assets/images/apply-splash-large.png');
    background-size: cover;
    background-position: center center;
  }
  background-image: url('../assets/images/apply-splash-small.png');
  background-size: cover;
  background-position: center center;
}