html,
body {
  height: 100%;
  font-family: 'Montserrat';
  color: #363434;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

div {
  margin: 0px;
  padding: 0px; }
  div .nav {
    position: fixed;
    z-index: 100;
    top: 0px;
    width: 100%; }
    div .nav img.nav-logo {
      margin-left: 20px;
      width: auto;
      position: relative;
      top: 4px;
      max-height: 40px; }
  div h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    padding: 0px; }
  div h2 {
    font-size: 24px;
    margin: 0px;
    padding: 0px; }

.home {
  padding-bottom: 40px; }
  .home .splash-img {
    height: 310px;
    background-image: url("../assets/images/home-splash-small.png");
    background-size: cover;
    background-position: center center; }
    @media only screen and (min-width: 601px) {
      .home .splash-img {
        height: 420px;
        background-image: url("../assets/images/home-splash-large.png");
        background-size: cover;
        background-position: center center; } }
  .home .job-info {
    width: 93%;
    margin: auto; }
    .home .job-info h1 {
      margin-top: 30px;
      margin-bottom: 30px; }
    .home .job-info .job-body {
      margin: 0px;
      padding: 0px;
      padding-right: 2.5%; }
      .home .job-info .job-body .row .col {
        margin: 0px; }
        .home .job-info .job-body .row .col ul li {
          list-style-type: circle;
          margin-left: 7.5%; }
      .home .job-info .job-body .row a {
        font-size: 18px; }
    .home .job-info .experience {
      padding-left: 2.5%; }
      .home .job-info .experience ul li {
        list-style-type: circle;
        margin-left: 7.5%; }
      .home .job-info .experience .key-experience-list {
        margin-bottom: 30px; }
      .home .job-info .experience .relevant-experience-list {
        margin-bottom: 30px; }
      .home .job-info .experience a {
        font-size: 18px; }

.apply {
  height: 100vh;
  width: 100%;
  color: white;
  background-image: url("../assets/images/apply-splash-small.png");
  background-size: cover;
  background-position: center center; }
  .apply .row {
    height: 100%; }
    .apply .row .s12 p {
      margin-bottom: 30px; }
    .apply .row .s12 form {
      width: 300px;
      margin: auto; }
      .apply .row .s12 form label {
        color: white; }
      .apply .row .s12 form input {
        color: white;
        font-family: Montserrat; }
      .apply .row .s12 form button {
        margin: auto;
        width: 100%; }
    .apply .row .s12 button {
      border: 1px solid white;
      border-radius: 5pt;
      background-color: rgba(216, 216, 216, 0.16);
      color: white;
      font-family: Montserrat;
      padding: 15px 20px 15px 20px;
      margin-left: 10px;
      margin-right: 10px;
      width: 130px;
      cursor: pointer; }
  @media only screen and (min-width: 601px) {
    .apply {
      background-image: url("../assets/images/apply-splash-large.png");
      background-size: cover;
      background-position: center center; } }
